

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    background-color: rgba(109, 127, 204,0.5);
}
p{
    color:#fcfcfc;
}
.wrapper{
    display: flex;
    /*width: 100%;*/
    width: 100%;
}

#sidebar{
    /*for posisition*/
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3b3736;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

#sidebar.active{
    margin-left: -250px;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position:  absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
}

#sidebar ul p{
    color: gray;
    padding: 5px;
    padding-left: 20px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    background: rgba(0,0,0,0.4);
    text-shadow: 1px 1px 2px ;
    font-size: 18px;
    transition: all 0.5s;
}

#sidebar ul li.active > a, a[aria-expanded="true"]{
    color:#fff;
    background:#6d7fcc;
}

#sidebar a{
    text-decoration: none;
}

.navbar{
    background-color: rgba(0, 0, 0,0.8);
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}



ul ul a{
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background-color:  #6d7fcc;
    color: #fff;
}

#content {
    width: calc(100% - 250px);
    padding: 4px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#content .navbar .container-fluid {
    padding-left: 1px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*Dibawah ini untuk halaman*/
/*for Home*/
.halaman{
    background-color: rgba(0, 0, 0,0.8);
    width: 100%;
    height: 657px;
    padding: 20px;
    border-radius: 5px;
   
}
.Home h1{
    text-align: center;
    color: #fcfcfc;
}


/*for about*/
.About{
    color: #fcfcfc;
    padding: 50px;
}

/*for Remote*/
.indikatorStatus{
    padding: 30px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}
.dot {
   height: 15px;
   width:15px; 
   background-color:red;
   border-radius: 15px;
   float:left;
   margin: 9px 9px;
}
.indikatorStatus h3{
    color: #fff;
    
}
.indikatorContent{
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(0,0,0,0.1);
    border-radius:5px;
}
.indikatorContent h4{
    border-bottom: 3px solid #827b7a;
    padding-bottom: 10px;
    text-align: center;
    color:#fcfcfc;
    font-size: 30px;
}
.indikatorContent p{
    padding: 5px;
    font-size:20px;
}


/*awal classbButton*/
.centeri{
   margin-top: 30%;
}
.outer{
    position: relative;
    margin:0 50px;
        
}

.button{
    text-align: center;
    height: 70px;
    width: 220px;
    border-radius: 50px;
}
.outer button,.outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.outer button{
    background-color: #111;
    color: #f2f2f2;
    outline: none;
    border:none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button{
    height: 60px;
    width: 210px;
    border-radius: 50px;
    z-index: 3;
}

.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span{
    border-radius: 50px;
}
.outer span:nth-child(1){
    filter: blur(4px);
}
.outer span:nth-child(2){
    filter: blur(7px);
}
.outer:hover{
    animation: rotate 3.5s linear infinite;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
/*akhir bButton*/








