
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper{
    display: flex;
    /*width: 100%;*/
    width: 100%;
}

#sidebar{
    /*for posisition*/
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3b3736;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    
}

#sidebar.active{
    margin-left: -250px;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position:  absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
}

#sidebar ul p{
    color: gray;
    padding: 5px;
    padding-left: 20px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    background: rgba(0,0,0,0.4);
    text-shadow: 1px 1px 2px ;
    font-size: 18px;
    transition: all 0.5s;
}

#sidebar ul li.active > a, a[aria-expanded="true"]{
    color:#fff;
    background:#6d7fcc;
}

#sidebar a{
    text-decoration: none;
}




ul ul a{
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background-color:  #6d7fcc;
    color: #fff;
}

#content {
    width: calc(100% - 250px);
    padding: 4px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#content .navbar .container-fluid {
    padding-left: 1px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

